<mat-toolbar>
  <mat-toolbar-row>
    <b>CodeSpace</b>
    <span class="example-spacer"></span>
    <a href="https://www.youtube.com/codespace?sub_confirmation=1">Checkout More tutorials</a>
  </mat-toolbar-row>
</mat-toolbar>
<div style="max-width: 60%">
  <router-outlet></router-outlet>
</div>
<div style="text-align: center">
  <a target="_blank"  routerLink="/aws">AWS</a>
  <a target="_blank" href="https://www.fb.com/e.codespace">Follow on Facebook </a>
  <a target="_blank" href="https://www.facebook.com/groups/551262081912832/">Join Facebook Group </a>
  <a target="_blank" href="https://www.youtube.com/codespace?sub_confirmation=1">Subscribe to Free Video turorials </a>
</div>
<!-- end of app component html. Edit made by person A1  -->