<div class="responsive">
  <iframe src="https://www.youtube.com/embed/SU4dZ-qgR1Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div>Step-1: Download and Install nodejs
  <div class="code">
    <a href="https://nodejs.org/en/">https://nodejs.org/en/</a>
  </div>
</div>
<div>Step-2: Generate AWS accessKey/SecretKey
  <div class="code">
    <a href="https://youtu.be/m5nCqLPwSsk">https://youtu.be/m5nCqLPwSsk</a>
  </div>
</div>
<div>Step-3: Download and install Visual studio code
  <div class="code">
    <a href="https://code.visualstudio.com/download">https://code.visualstudio.com/download</a>
  </div>
  <div>Step-4: Initialize project
    <div class="code">
      npm init --yes
    </div>
  </div>
  <div>Step-5: Install AWS sdk
    <div class="code">
      npm i aws-sdk --save
    </div>
  </div>
  <div>read.js
    <div class="code">
      
    </div>
  </div>
  <div>update.js
    <div class="code">
      
    </div>
  </div>
  <div>write.js
    <div class="code">
      
    </div>
  </div>
  <div>delete.js
    <div class="code">
      
    </div>
  </div>